/.bundle/
/.yardoc
/_yardoc/
/_site/
/docs/.jekyll-cache/
/docs/yard/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.obsidian/
openhab.code-workspace
/.idea/
.java-verison
.ruby-version
.jekyll-cache/
Gemfile.lock
