/.bundle/
/.irb_history
/.karaf
/.yardoc
/_yardoc/
/_site/
/docs/.jekyll-cache/
/docs/yard/
/coverage/
/doc/
/lib/openhab/dsl/gems.locked
/pkg/
/spec/examples.txt
/spec/reports/
/tmp/
/.obsidian/
openhab.code-workspace
/.idea/
.java-verison
.jekyll-cache/
.sass-cache/
