--exclude lib/openhab/core/dependency_tracking.rb
--exclude lib/openhab/core_ext/java/list.rb
--exclude lib/openhab/core_ext/java/map.rb
--exclude lib/openhab/rspec/mocks/
--exclude lib/openhab/yard/
--exclude lib/openhab/rspec/jruby.rb
--exclude lib/openhab/rspec/karaf.rb
--exclude lib/openhab/rspec/openhab/
--exclude lib/openhab/rspec/suspend_rules.rb
--load openhab/yard.rb
--asset docs/images
--output-dir docs/yard
--protected
--markup markdown
--markup-provider commonmarker
--readme USAGE.md
- CHANGELOG.md CONTRIBUTING.md README.md docs/**/*.md
