--exclude lib/openhab/rspec/mocks/
--exclude lib/openhab/yard/
--exclude lib/openhab/rspec/jruby.rb
--exclude lib/openhab/rspec/karaf.rb
--exclude lib/openhab/rspec/openhab/
--exclude lib/openhab/rspec/suspend_rules.rb
--fail-on-warning
--load openhab/yard.rb
--output-dir docs/yard
--plugin coderay
--protected
--markup markdown
--markup-provider commonmarker
- CHANGELOG.md docs/**/*.md
