<footer>
  Generated on <%= Time.now.strftime("%c") %> by
  <a href="https://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  <%= YARD::VERSION %> (ruby-<%= RUBY_VERSION %>).
</footer>
<script id="index" type="application/json" href="<%= url_for_search_index %>">
