<% run_verifier(Registry.all(:class, :module)).sort_by(&:path).each do |child| %>
  <%
    next unless child.is_a?(CodeObjects::NamespaceObject)

    classes = []    
    classes << "deprecated" if child.has_tag?(:deprecated)
  %>
  <li class="<%= classes.join(" ") %>">
    <div class="item">
      <%= linkify child, child.name %>
      <% if child.is_a?(CodeObjects::ClassObject) && child.superclass %>
        &lt; <%= child.superclass.name %>
      <% end %>
      <small class="search_info">
        <%= child.namespace.title %>
      </small>
    </div>
  </li>
<% end %>
