.sidebar {
    font-size: 16px;
    background-color: #f7f7f7 !important;
    width: 22rem;
    position: fixed;
    z-index: 15;
    margin: 0;
    top: 3.6rem;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
    overflow-x: scroll;
}

.archived-versions .nav-dropdown a {
    color: #2c3e50;
}

@media (min-width: 860px) {
    .sidebar {
        top: 4.11429rem!important;
    }
}

@media (max-width: 859px) {
    .sidebar {
        top: 0;
        padding-top: 3.6rem;
        transform: translateX(-100%);
        transition: transform .2s ease;
    }

    .sidebar-open .sidebar {
        transform: translateX(0);
    }
}

@media (max-width: 1023px) {
    .sidebar {
        font-size: 15px;
        width: 16.4rem;
    }
}

.sidebar-heading a {
    color: #2c3e50;
    font-weight: 700;
}

@media (prefers-color-scheme: dark) {
    .sidebar {
        background-color: #000!important;
        border-right: 1px solid #444!important;
    }

    .sidebar-heading a {
        color: #ddd;
    }

    .sidebar .sidebar-heading, .sidebar .sidebar-link {
        color: #a6a6a6;
    }

    .dropdown-wrapper .nav-dropdown {
        background-color: rgba(0,0,0,.9)!important;
        border-color: #444!important;
    }

    .dropdown-item, .dropdown-wrapper .arrow, .dropdown-wrapper .title, .nav-item a, .nav-link {
        color: #ddd!important;
    }

    .archived-versions .nav-dropdown a {
        color: #a6a6a6!important;
    }
}

.sidebar-mask {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    display: none;
}

.sidebar-heading {
    color: #2c3e50;
    transition: color .15s ease;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    padding: .35rem 1.5rem .35rem 1.25rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-left: .25rem solid transparent;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar > .sidebar-links {
    padding: 1.5rem 0;
}

.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: .75rem;
}

.sidebar-group a.sidebar-link {
    padding-left: 2rem;
}

.sidebar-group a.sidebar-link-depth-1 {
    padding-left: 3rem;
}

.sidebar-group a.sidebar-link-depth-2 {
    padding-left: 4rem;
}

.sidebar-group a.sidebar-link-depth-3 {
    padding-left: 5rem;
}

.sidebar-group a.sidebar-link-depth-4 {
    padding-left: 6rem;
}

.sidebar-group-items {
    transition: height .1s ease-out;
    font-size: .95em;
    overflow: hidden;
}

span.sidebar-link {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    color: #2c3e50;
    border-left: .25rem solid transparent;
    padding: .35rem 1rem .35rem 1.25rem;
    line-height: 1.4;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
}

span.sidebar-link a {
    color: #2c3e50;
}

a.sidebar-link:hover {
    color: #f60;
}

span.sidebar-link.active {
    font-weight: 600;
    border-left-color: #f60;
}

span.sidebar-link.active a {
    color: #f60;
}

.sidebar-links .arrow {
    position: relative;
    top: -.12em;
    left: .5em;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    cursor: pointer;
}

.arrow.down, .arrow.up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.arrow.down {
    border-top: 6px solid #ccc;
}

.arrow.left, .arrow.right {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.arrow.right {
    border-left: 6px solid #ccc;
}

.page-versions {
    margin-top: 1rem;
}

.version-switcher {
    list-style-type: none;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.version-switcher .version-button {
    width: 6.5rem;
    border: 1px solid #2c3e50;
    color: #2c3e50;
    background: transparent;
    font-family: Open Sans,sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
}

.version-switcher .version-button.current {
    background: #2c3e50;
    color: #fff;
    cursor: not-allowed;
}

.archived-versions {
    white-space: nowrap;
    font-size: 9pt;
    height: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.archived-versions .dropdown-wrapper {
    height: 1.8rem!important;
}

.sidebar .page-versions .dropdown-wrapper {
    z-index: 9999;
}

.archived-versions .dropdown-title {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

.dropdown-wrapper .dropdown-title {
    display: block;
    font-size: .9rem;
    font-family: inherit;
    cursor: inherit;
    padding: inherit;
    line-height: 1.4rem;
    background: transparent;
    border: none;
    font-weight: 500;
    color: #2c3e50;
}

.archived-versions .nav-dropdown {
    box-sizing: border-box;
    overflow-y: auto;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 10px 0;
    text-align: left;
    white-space: nowrap;
    margin: 0;
    top: 0;
}

@media (min-width: 859px) {
    .dropdown-wrapper .nav-dropdown {
        display: none;
        height: auto!important;
        box-sizing: border-box;
        max-height: calc(100vh - 2.7rem);
        overflow-y: auto;
        top: 100%;
        right: 0;
        background-color: #fff;
        padding: .6rem 0;
        border: 1px solid;
        border-color: #ddd #ddd #ccc;
        text-align: left;
        border-radius: .25rem;
        white-space: nowrap;
        margin: 0;
    }
}

.dropdown-wrapper .nav-dropdown .dropdown-item a {
    display: block;
    line-height: 1.7rem;
    position: relative;
    border-bottom: none;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0 1.5rem 0 1.25rem;
}

.dropdown-wrapper .nav-dropdown .dropdown-item a:hover {
    color: #f60;
}

.collapsed > ul {
    display: none;
}
