name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

env:
  RUBY_VERSION: 2.6.8
  JRUBY_VERSION: jruby-9.3.8.0
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  rubocop:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - name: RuboCop
        run: bin/rubocop

  cucumber-lint:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - name: Cucumber Lint
        run: bin/cuke_linter -p features/

  yard-coverage:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - name: Yard Coverage
        run: |
          bin/yard --fail-on-warning
          bin/yard stats --list-undoc --fail-on-warning
          bin/yard stats --fail-on-warning | grep "100.00% documented"

  openhab-matrix:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - id: set-matrix
        run: |
          JSON=$(bin/rake github:oh_versions_matrix)
          echo $JSON
          echo "matrix=$JSON" >> $GITHUB_OUTPUT

  openhab-setup:
    needs: [openhab-matrix]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix: ${{fromJson(needs.openhab-matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - name: Cache OpenHAB setup
        id: cache
        uses: actions/cache@v3
        with:
          path: tmp/
          key: OpenHAB-setup-${{ hashFiles('.bundlehash', 'Rakefile', 'rakelib/openhab.rake') }}-${{ matrix.openhab_version }}
      - name: Setup OpenHAB
        if: steps.cache.outputs.cache-hit != 'true'
        env:
          OPENHAB_VERSION: ${{ matrix.openhab_version }}
        run: bin/rake openhab:setup

  rspec:
    needs: [openhab-matrix, openhab-setup]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix: ${{fromJson(needs.openhab-matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.JRUBY_VERSION }}
          bundler-cache: true
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: "11"
          java-package: jre
      - name: Restore OpenHAB setup
        uses: actions/cache@v3
        with:
          path: tmp/
          key: OpenHAB-setup-${{ hashFiles('.bundlehash', 'Rakefile', 'rakelib/openhab.rake') }}-${{ matrix.openhab_version }}
      - name: RSpec
        run: bin/rspec --format progress --format html --out rspec.html
        timeout-minutes: 2
      - name: Upload OpenHAB Logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: RSpec-logs-${{ matrix.openhab_version }}
          path: tmp/openhab/userdata/logs
          retention-days: 2
      - name: Upload RSpec results
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: RSpec-results-${{ matrix.openhab_version }}
          path: rspec.html


  cucumber:
    needs: [openhab-matrix, openhab-setup]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix: ${{fromJson(needs.openhab-matrix.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: "11"
          java-package: jre
      - name: Restore OpenHAB setup
        uses: actions/cache@v3
        with:
          path: tmp/
          key: OpenHAB-setup-${{ hashFiles('.bundlehash', 'Rakefile', 'rakelib/openhab.rake') }}-${{ matrix.openhab_version }}
      - name: Cucumber
        run: bin/rake features
      - name: Generate OpenHAB Dump
        run: bin/rake openhab:dump
        if: failure()
      - name: Upload OpenHAB Logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: OpenHAB-logs-${{ github.workflow }}-${{ github.run_number }}-${{ matrix.index }}
          path: tmp/
          retention-days: 2
